In [2]:
import requests
import pandas as pd
from pathlib import Path
r = requests.get("https://www.gapminder.org/documentation/documentation/gapdata010.xls")
assert r.ok
Path("data/input").mkdir(parents=True, exist_ok=True)
output = open("data/input/gapminder.xls","wb")
output.write(r.content)
output.close()

In [3]:
df = pd.read_excel("data/input/gapminder.xls")
df_d = df.drop(df.index[0:16]).reset_index()
df_d["Country"]=df_d["Country"].str.strip()
df_d = df_d[~pd.isna(df_d["MMR"])]

In [7]:
df_d.loc[:2, "year"] = ["1875", "1885", "1895"]
df_d.loc[
    (df_d["year"]==1772)
    & (df_d["Country"] == "Finland")
    & (df_d["Maternal deaths"] == 487),
    "year",
    ] = 1872
df_d.loc[
    (df_d["year"] == 1775)
    & (df_d["Country"] == "Finland")
    & (df_d["Maternal deaths"] == 629),
    "year"
    ] = 1875

df_d.loc[
    (df_d["year"] == 1967)
    & (df_d["Country"] == "Finland")
    & (df_d["Maternal deaths"] == 629),
    "year"
    ] = 1957

df_d.loc[
    (df_d["year"] == 1967)
    & (df_d["Country"] == "Sweden")
    & (df_d["Maternal deaths"] == 39),
    "year"
    ] = 1957

df_d.loc[
    (df_d["year"] == 1967)
    & (df_d["Country"] == "United States")
    & (df_d["Maternal deaths"] == 1766.28),
    "year"
    ] = 1957

df_d = df_d.drop(df_d[(df_d["MMR"] == 0) | (df_d["MMR"] == '...')].index)

df_d = df_d.drop(

    df_d[(df_d["Country"] == "New Zealand")
         & (df_d["year"]== 1950)
         & (df_d["MMR"] == 90)
         ].index
)

df_d = df_d.drop(
    df_d[
        (df_d["year"].isin(["1982-02", "1899-03"])) & (df_d["Country"] == "New Zealand")
    ].index

)
df_d.head()

,index,Country,year,MMR,Live Births,Maternal deaths,Women reproductive age (15-49),MM-rate,Unnamed: 7,Skilled attendance %,"Source MMR, maternal death and Live birth",Comment,Source women reproductive age,Comments
0,16,Australia,1875,643,NaN,NaN,NaN,NaN,NaN,NaN,"Loudon, Death in Childbirth,1992",only State of Virginia,NaN,NaN
1,17,Australia,1885,592,NaN,NaN,NaN,NaN,NaN,NaN,"Loudon, Death in Childbirth, 1992",only State of Virginia,NaN,NaN
2,18,Australia,1895,560,NaN,NaN,NaN,NaN,NaN,NaN,"Loudon, Death in Childbirth, 1992",only State of Virginia,NaN,NaN
3,19,Australia,1901-5,609,NaN,NaN,940332.0,0.0,NaN,NaN,"Loudon, Death in Childbirth, 1992",only State of Virginia,"Mitchell, B. International Historical Statisti...",NaN
4,20,Australia,1906,538,107890,NaN,NaN,NaN,NaN,NaN,"Loudon, Death in Childbirth, 1992",only State of Virginia,NaN,NaN

In [11]:

df_d[df_d.duplicated(subset = ["Country", "year"], keep=False)]

,index,Country,year,MMR,Live Births,Maternal deaths,Women reproductive age (15-49),MM-rate,Unnamed: 7,Skilled attendance %,"Source MMR, maternal death and Live birth",Comment,Source women reproductive age,Comments
547,563,Finland,1967,88.521009,86985,77,NaN,NaN,NaN,NaN,"Tabeller övfer födde,döde och vigde i Finland,...",Since 1936 the data is based on figures double...,NaN,NaN
557,573,Finland,1967,20.701523,77289,16,NaN,NaN,NaN,NaN,"Tabeller övfer födde,döde och vigde i Finland,...",Since 1936 the data is based on figures double...,NaN,NaN